absl-py
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
darkdetect
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
filelock
flatbuffers
fonttools
fqdn
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
oauthlib
opt-einsum
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyqtdarktheme
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
seaborn
Send2Trash
six
sniffio
soupsieve
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow-macos
termcolor
terminado
tinycss2
tokenizers
tomli
tornado
tqdm
traitlets
transformers
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
Whoosh
widgetsnbextension
wrapt
zipp
